:root {
  --indigo-dye: #233d53ff;
  --alabaster: #f0eae2ff;
  --white: #ffffffff;
  --pakistan-green: #133416ff;
  --selective-yellow: #f6b200ff;
  --antiflash-white: #f2f3f3ff;
  --text-grey: rgb(119, 119, 119);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--alabaster);
}
.container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a {
  font-family: Inter, sans-serif;
  color: var(--text-grey);
  padding: 20px;
  font-size: 1.2rem;
  text-decoration: none;
}

.signIn {
  justify-content: space-evenly;
  padding: 10px;
  color: var(--text-grey);
}

.btn {
  padding: 15px 32px;
  text-align: center;
  margin: 10px 10px 10px;
  cursor: pointer;
  background-color: var(--pakistan-green);
  color: var(--antiflash-white);
  border-radius: 6px;
}
.left_hero {
  margin-right: 50px;
}
.hero_section {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.right_hero img {
  height: 400px;
}
.inside_left_hero {
  margin-top: 15px;
}
#inside_left_hero_last {
  display: flex;
  justify-content: left;
  align-items: center;
}
#inside_left_hero_last img {
  margin-left: 5px;
}
.left_hero,
.right_hero {
  padding: 10px;
}
#yellow_txt {
  color: var(--selective-yellow);
}
.footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer img {
  width: 290px;
}
#footer_up {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
#footer_down img {
  margin: 10px;
}
h1 {
  font-size: 50px;
  color: var(--indigo-dye);
  font-family: Inter, sans-serif;
}
.p_txt {
  color: var(--text-grey);
  font-size: 1.2rem;
  font-family: Inter, sans-serif;
}

.icon_menu {
  display: none;
}

/* drop down */
      
.drop_down {
  display: none;
  position: absolute;
  border-radius: 10px;
  right: 2rem;
  padding: 20px;
  font-family: "Inter", sans-serif;
  width: 500px;
  background: white;
}

#drop_down_list {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
#drop_down_img {
  padding-right: 20px;
}
#drop_down_list img {
  height: 20px;
  width: 20px;
}
     

@media (max-width: 940px) {
  .links,
  .signIn {
    display: none;
  }
  .icon_menu {
    display: block;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin: 20px;
  }
  .left_hero {
    margin: 0;
    width: 100vw;
  }
  .hero_section {
    margin: 2%;
    align-items: center;
    justify-content: center;
  }
  .right_hero {
    display: none;
  }
  .footer {
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  #btn {
    margin-left: 0;
  }
  #footer_up {
    font-size: 15px;
  }
  #footer_down {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  #footer_p {
    font-size: 15px;
  }
  #p_txt {
    font-size: 16px;
  }
  .footer img {
    width: 110px;
  }
}
/* 
@media (max-width: 1024px) {
  .links,
  .signIn {
    display: none;
  }
  .icon_menu {
    display: block;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin: 20px;
  }
  #footer_down {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .footer img {
    width: 300px;
  }
}

@media (max-width: 1250px) {
  #footer_down {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
} */
